
:root{
  --ms-light-grey: #f8f9fa;
  --mas-darker-grey: #f7f7f7;
  --ms-blue: #1b72e8;
  --ms-blue-badge: #165bba;
  --ms-darker-blue: #051e34;
  --ms-searchbar: #e5e5e5;
  --ms-white: #fff;
  --ms-red: #dc3545;
  --ms-green: #198754;
}

body{
  min-width: 400px;
}


/* DEBUG */

.debug .box1{
  height: 200px;
  background-color: pink;
  border: #000 dashed 1px;
}

.debug .box2{
  height: 200px;
  background-color: green;
  border: #000 dashed 1px;
}


/* UTILITIES */


/* header */

header{
  height: 4.5rem;
  background-color: var(--ms-light-grey);
}

.ms_search-bar{
  background-color: var(--ms-searchbar);
}

.ms_search-bar::placeholder{
  font-size: 0.9rem;
}

.ms_btn_bell.dropdown-toggle::after{
  display: none;
}


/* main */


main{
  height: calc(100vh - 4.5rem);
}

aside{
  background-color: var(--ms-darker-blue);
  width: 4.4rem;
  position: relative;
}

/* aside:before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(../img/sidebar-bg.png);
  filter: brightness(1);
} */

.ms_top_sidebar{
  height: calc(100% - 6.25rem);
}

.ms_bottom_sidebar{
  height: 6.25rem;
}

aside a{
  color: var(--ms-white);
  padding: 0.3rem;
}

aside a:hover{
  content:'';
  background-color: rgba(255, 255, 255, 0.5);
}

.ms_content{
  width: calc(100% - 4.4rem);
  overflow-y: auto;
}

.ms_top_bar{
  background-color: var(--ms-blue);
  height: 16.4rem;
}

.ms_top_bar .badge{
  background-color: var(--ms-blue-badge);
  font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before{
  color:var(--ms-white);
}

.breadcrumb-item .btn.plus{
  font-weight: 400;
  font-size: 0.6rem;
  background-color: var(--ms-blue-badge);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}

.ms_main_content{
  background-color: var(--ms-light-grey);
  height: calc(100% - 16.4rem);
}


/* offcanvas*/




/* table*/

section .card{
  font-weight: 500;
  font-size: 0.8rem;
}

.ms_img_class{
  width: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
}

table .ms_pen_button,
table .ms_trash_button{
  font-size: 0.8rem;
}

table .ms_pen_button:hover{
  background-color: var(--ms-green);
}

table .ms_trash_button:hover{
  background-color: var(--ms-red);
}

table th,
table td{
  width: 100px;
}

table th:first-child,
table td:first-child{
  text-align: left;
  width: calc(100% - 200px);
}

table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(3),
table td:nth-child(3){
  display: none;
}

/* end - table*/

#faq .accordion-button{
  font-weight: 500;
  font-size: 0.8rem;
}

#faq .accordion-body{
  font-weight: 400;
  font-size: 0.8rem;
}

#utenti-attivi .card-title{
  font-size: 1.1rem;
}

#utenti-attivi .card-text{
  font-size: 0.8rem;
}


/* MEDIA QUERIES */

@media screen and (max-height: 350px){

  .ms_top_sidebar{
    min-height: 7rem;
  }
}


/* tablet */
@media screen and (min-width: 768px) {

  .ms_top_bar{
    height: 8.7rem;
  }

  .ms_main_content{
    height: calc(100% - 8.7rem);
  }

  .offcanvas{
    width:60% !important;
  } 

  table th:nth-child(2),
  table td:nth-child(2),
  table th:nth-child(3),
  table td:nth-child(3){
    display: table-cell;
  }

  table th:first-child,
  table td:first-child{
    text-align: left;
    width: calc(100% - 400px);
  }

}


/* pc */
@media screen and (min-width: 992px) {

  aside{
    width: 9rem;
  }

  .ms_content{
    width: calc(100% - 9rem);
  }

  .ms_top_bar{
    height: 7.6rem;
  }

  .ms_main_content{
    height: calc(100% - 7.6rem);
  }

}